In [23]:
import os
import pandas as pd
import seaborn as sns
import datetime as dt

In [2]:
data_dir = 'C:\\Projects\\atlanta-pollen-count\\data\\'

os.chdir(data_dir)

In [7]:
# read all of the files into a data frame
counter = 1
for file in os.listdir():
    if file.find('contributor') == -1:
        temp_df = pd.read_csv(data_dir + file, index_col=False)
        if counter == 1:
            all_df = temp_df
        else:
          all_df = pd.concat([all_df, temp_df])
        counter += 1

print(str(counter) + ' files read')

24 files read

In [35]:
all_df.head()

         date  pollen_count severity_level
0  1997-01-02             1            low
1  1997-01-03             1            low
2  1997-01-06             9            low
3  1997-01-07             1            low
4  1997-01-08             2            low

In [36]:
# add a column for year
all_df['year'] = all_df['date'].map(lambda x: x[0:4])
all_df.head()

         date  pollen_count severity_level  year
0  1997-01-02             1            low  1997
1  1997-01-03             1            low  1997
2  1997-01-06             9            low  1997
3  1997-01-07             1            low  1997
4  1997-01-08             2            low  1997

In [ ]:
sns.relplot(x="date", y="pollen_count", kind="line", 
            data=all_df)